<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" th:href="@{/css/bootstrap/themes/cerulean/bootstrap.css}">
	</head>
	<body>
		<div th:insert="navbar.html"> </div>
		<div class="container">
			<h1>Bienvenido - AMB de Maestros</h1>			
		</div>
		<div th:insert="scripts.html"> </div>
	</body>
</html>