<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" th:href="@{/css/bootstrap/themes/cerulean/bootstrap.css}">
	</head>
	<body>
		<div th:insert="navbar.html"></div>
		<div class="container">
			<div th:inclue="mensajeria.html"></div>
			<section class="vh-100">
			  <div class="container-fluid">
			
			    <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
			      <div class="col-md-9 col-lg-6 col-xl-5 mb-3">
			        <img th:src="@{/assets/images/login.svg}" class="img-fluid" alt="Sample image">
			      </div>
			      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
			        <form action="/LoginServlet" method="post">
			
			          <!-- Email input -->
			          <div class="form-outline mb-4">
						<input name="username" 
							type="text" 
							class="form-control form-control-lg"
							id="exampleInputEmail1" 
							placeholder="Enter a valid email address"
							aria-describedby="emailHelp">
			            <label for="exampleInputEmail1">Username</label> 
			          </div>
			          <!-- Password input -->
			          <div class="form-outline mb-3">
						<input name="password" 	
							type="password" 
							class="form-control form-control-lg"
							placeholder="Enter password"
							id="exampleInputPassword1">
						<label for="exampleInputPassword1">Password</label> 
			          </div>
			   			<div class="text-center text-lg-start mt-4 pt-2">
			             	<button type="submit" class="btn btn-primary btn-lg mt-1 w-100">Login</button>       
			          </div>
			        </form>
			      </div>
			    </div>
			  </div>  
			</section>
		</div>
		<div th:insert="scripts.html"> </div>		
	</body>
</html>